<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Рассылка
    {% if title %}
        - {{title}}
        {% endif %}

    </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
{% include 'mail/includes/menu.html' %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
                We will take care of our troubles
        <br>
        Mail
    </h1>
    <p class="lead">Mail - Приложение по работе с расссылками.
        <br>

    </p>
    <p class="lead">

    </p>


</div>

    {% block content %}
    {% endblock %}



<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
